{% extends 'new/base_generic.html' %}
 {% block title %}Categories{% endblock title %}
{% block header %} {{ title.upper }} Section {% endblock header %}
{% block previous %} {% url 'categories' %} {% endblock previous %}

 {% block content %}
      <div class="row" id="categories">
	 {% for tab in tabs %}
        <div class="col-12 col-sm-6 col-xl-4">
          <div class="card border-0 border-bottom border-primary shadow-sm m-2">
            <div
              class="card-body text-center p-3 p-xxl-5"
              style="
                background-image: url({{ tab.thumb.url }});
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 280px;
              "
            ></div>
            <div class="card-footer bg-warning py-2 text-center">
              <a href="{{ tab.title_slug }}" class="text-decoration-none btn btn-link-warning">
                <h4 class="text-center">{{ tab.title }}</h4>
              </a>
	    <div class="d-flex justify-content-between">
		<a href="{% url 'media' tab.category.name_slug tab.title_slug 'video' %}" ><i class="fa-brands fa-youtube fa-2x text-dark fa-beat"></i></a>
		<a href="{% url 'media' tab.category.name_slug tab.title_slug 'pdf' %}"><i class="fa-solid fa-file-pdf fa-2x text-dark fa-beat"></i></a>
		<a href="{% url 'media' tab.category.name_slug tab.title_slug 'word' %}"><i class="fa-regular fa-file-word fa-2x text-dark fa-beat"></i></a>

	    </div>
            </div>
          </div>
        </div>
	 {% endfor %}
      </div>
    </div>
{% endblock content %}
