{% extends "base_generic.html" %} 
{% load static %}
        {% block content %}
        <!-- categories Area -->
        <div class="games-play-area bg-color-2 area-padding">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
						</div>
					</div>
                </div>
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
							<h3>About</h3>
						</div>
					</div>
                </div>
                 <!-- Categories container -->
                <!-- Row 1 -->
                <div class="row d-flex" style="justify-content: center; margin: 0; padding: 0;">
			<p>
				Baun Robotics is a Nigerian EdTech company that provides K12 STEAM education. Baun Robotics aims to use technology to provide inclusive, comprehensive, and easily accessible education to all students, regardless of geographical or infrastructural barriers. Their products include the BaunDigital Library, Baun Robot kits, and Baundino Electronic learning kits. They are powered by a team of dedicated thinkers from a variety of backgrounds.
			</p>

			<h3>What is Baun Digital Library?</h3>
			<p>
				Baun Digital Library is a portable, solar-powered device that provides offline access to educational content for students and teachers in rural Nigeria. It is an all-in-one, self-powered device that is ready to use with minimal training or support. The library offers a variety of educational content, including curated articles, videos, and interactive learning modules. It also provides tools for students to conduct research and find information.
			</p>
			<h3>Our Mission</h3>

			<p>
				Baun Robotics Ltd aims to empower learners across Nigeria by providing offline access to Nigerian-centric educational information and training in 21st century skills. They do this through their BaunDigital Solar Library, a portable, solar-powered device that offers a variety of educational content, including curated articles, videos, and interactive learning modules. The library also provides tools for students to conduct research and find information.
			</p>

			<h3>Our Vision</h3>
			<p>
				We envision a future in which all learners everywhere have access to the information they need; skills to turn information into knowledge; and capability to transform knowledge into solutions.
			</p>
			<h3>Our Vision</h3>
			<p>
				We envision a future in which all learners everywhere have access to the information they need; skills to turn information into knowledge; and capability to transform knowledge into solutions.
			</p>

			<h3>Beneficiaries</h3>
			<p>
				BaunDigital Library is an offline digital library that provides students and teachers in low-resource locations with access to relevant, localized educational content. The library does not require electricity or internet connectivity, making it a valuable resource for communities that lack these essential services. Students can use the library to enhance their learning experience by gaining access to a wide range of educational content, including curated articles, videos, and interactive learning modules. Teachers can also use the library to support their teaching by accessing additional resources, such as lesson plans and teaching materials.
			</p>
		
                </div>
		
		
		
            </div>
        </div>
        <!-- End games end -->
{% endblock content %}
