{% extends "base_generic.html" %} 
{% load static %}
        {% block content %}
        <!-- categories Area -->
            <div class="container area-padding">
                
                <div class="row justify-content-center align-items-center" style="height: calc(100vh-30px);">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
							<h3>Baun Digital Library</h3>
						</div>
						
					</div>

<div class="col-12 text-center" style="margin-bottom: 20px;">
<p>
						Baun Digital Library (BauLib) is a battery-powered educational learning library designed to deliver
curated content to remote, offline and off-grid locations. It helps students in underserved communities
develop relevant Internet-ready skills.
</p></div>
</div>

<div class="row justify-content-center p-3" style="justify-content:center;">
	<div class="col-lg-3 col-md-4 col-sm-10 col-xs-12 card text-center" style="border: 1px solid gold; padding:2px;">
		<i class="fa fa-briefcase fa-5x card-body" aria-hidden="true"></i>
<h2>
Great Catalog
</h2>
<p> Access digital library contents without an internet connection, eliminating the need to visit a physical location.
</p>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-10 col-xs-12 card text-center" style="border: 1px solid gold; padding:2px;">
                <i class="fa fa-bars fa-5x card-body" aria-hidden="true"></i>  
<h2>
Vast Content
</h2>
<p> Baun Digital library can store a vast amount of content, including PDFs, video, and more. This content can include books, articles, journals, multimedia, and archival materials.
</p>
        </div>

	<div class="col-lg-3 col-md-4 col-sm-10 col-xs-12 card text-center" style="border: 1px solid gold; padding:5px;">
                <i class="fa fa-binoculars fa-5x card-body" aria-hidden="true"></i>  
<h2>
Multimedia Content
</h2>
<p> Access a wide range of media types, including PDFs, videos, Docx, and interactive multimedia.
</p>
        </div>

<div class="col-lg-3 col-md-4 col-sm-10 col-xs-12 card text-center" style="border: 1px solid gold; padding:5px;">
                <i class="fa fa-wifi fa-5x card-body" aria-hidden="true"></i>  
<h2>
Open Access
</h2>
<p>
Some digital libraries focus on open access content, making scholarly and educational materials freely available to the public.
</p>
        </div>

</div>
					
<div class="col-12 " style="display: flex; justify-content: space-between; margin-top: 20px;">
<a href="" class="btn btn-primary"><<< Back </a>
<a href="/library/" class="btn btn-primary">Next >>></a>
</div>
                
</div>

            
	    </div>    
{% endblock content %}
